{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron text-center">
<h1>Agence Immo</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quos asperiores nihil, nisi quasi illum deleniti delectus. Iusto impedit excepturi magnam? Fuga corrupti odit voluptatum officiis? Impedit labore nulla nam?</lorel></p>
</div>
{% endblock %}
