{% extends 'base.html.twig' %}

{% block title %}Property view{% endblock %}

{% block body %}
<div class="jumbotron text-center">
<h1>Agence Immo</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quos asperiores nihil, nisi quasi illum deleniti delectus. Iusto impedit excepturi magnam? Fuga corrupti odit voluptatum officiis? Impedit labore nulla nam?</lorel></p>
</div>

<div class="container">
<div class="row flex">
    
        <div class="col-3">
        <div class="card">
        <div class="card-body">
        <h5 class="card-title">
        {{ property.title }}
        </h5>
        <p class="card-text">{{ property.city }}</p>
        <div class="text-primary">{{ property.formatedPrice }} €</div>
        </div>
        </div>
        </div>
    
</div>
</div>
{% endblock %}